VendingMachine/VendingMachine.Services/obj
VendingMachine/VendingMachine.Simulator/bin
VendingMachine/VendingMachine.Services/bin
VendingMachine/VendingMachine.Simulator/obj
VendingMachine/VendingMachine.UnitTests/bin
VendingMachine/VendingMachine.UnitTests/obj
VendingMachine/.vs
